@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tilt+Neon&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');

.img_x{
    display: flex;
    align-items: center;
    width:80%;
    margin-left: 10%;
}
.about-body{
    display: flex;
    background-color: white;
    padding-bottom: 60px;
    flex-direction: column;
    width: 100vw;
    /* background-image: none; */
}
.t{
    margin-left:10px;
    margin-right:10px;
    
}
.anchor {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.6px;
    font-size: 0.9rem;
    margin-top: 50px;
    text-decoration: none;
    color: black;
}
.anchor a 
{
    color: black;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
  
  .anchor a:hover 
  {
    text-decoration: underline;
  }
  