/* Footer.css */
.footer {
  background-color: black;
  color: rgb(194, 190, 190);
  padding: 2%;
  text-align: center;
  font-size:medium;
  margin-bottom: -10px;
  margin-top:0px;
  margin-right: -20px;
  margin-left: -20px;
}
