@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.testimonials-container
{
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    column-gap: 5em;
    row-gap: 3em;
    /* margin-left: 18%; */
    align-content: center; 
    justify-content: center;
    padding: 1rem 0rem;
    margin-bottom: 4%;
    /* margin-bottom: 2.5%; */
}

.heading
{
    margin-top: 4%;
    margin-left: 16.2%;
    display: grid;
    grid-template-columns: repeat(1,400px);
    margin-bottom: 0%;
}

.testimonial-card
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 25rem;
    height: 200px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans Bold', sans-serif;
    cursor: pointer;
}

.testimonial-card:hover{
    transform: scale(1.05, 1.05);  
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    filter: brightness(0.8);
    transition: filter 0.3s;
    transition: transform 0.3s;
} 

.content
{
    font-size:x-small;
    text-align: left;
}
h1
{
    margin: auto;
    font-family: 'Open Sans Bold', sans-serif;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
}
.contented{
    height: 100vh;
    width: 80vw;
}
/* @media (max-width:986px){

} */
@media (max-width:500px) {
    .heading{
        display: flex;
        /* width:20px; */
        justify-content: center;
        flex-wrap: wrap;
        font-size: smaller;
        white-space: normal;
        text-align: center;
        /* grid-template-columns: repeat(2, 200px); Creates two columns, each 200px wide */
    }
    /* h1{
        white-space: normal;
    } */
    .testimonials-container{
        display: flex;
        flex-direction: column;
        width:100vw;
        justify-content: center;
        align-content: center;
        margin-left:0px;
        align-items: center;
    }

    .testimonial-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 100px; */
    align-items: center;
    width: 80%;
    font-size: large;
    height: 180px; 
    padding: 0px;
    /* margin: 0px; */
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans Bold', sans-serif;
    cursor: pointer;
}
    .content{
        font-size: 1rem;
    }
    .modal{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80vw;
    }
    .contented{
        height: 100vh;
        width: 80vw;
    }
}