.cont
{
    font-family: Arial, Helvetica, sans-serif;
}

.image-container1 {
    display: grid;
    height: 825px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%; 
    padding: 5%;  
    margin-bottom: -3%;
  }
  .work-card
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 36rem;
    height: auto; 
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans Bold', sans-serif;
    cursor: pointer;
}

.work-card:hover{
    transform: scale(1.05, 1.05);  
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    filter: brightness(0.8);
    transition: filter 0.3s;
    transition: transform 0.3s;
} 
  .image-container1 img {
    max-width: 100%;
    display: block; /* Remove any default inline spacing */
    margin: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
  }

  @media (max-width:500px) {
    .heading{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: smaller;
        white-space: normal;
        text-align: center;
    }

    .image-container1{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        width:80vw;
        justify-content: center;
        align-content: center;
        margin-left:0px;
        align-items: center;
    }

    .work-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 100px; */
    align-items: center;
    width: 100%;
    font-size: small;
    height: 180px; 
    padding: 0px;
    /* margin: 0px; */
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans Bold', sans-serif;
    cursor: pointer;
}
    .content{
        font-size: 1rem;
}
}